* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-color: #000;
  --text-color: #fff;
  --sc-color: #ffe3eb;
  --main-color: #acc8fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.logo {
  font-size: 25px;
  color: var(--sc-color);
  font-weight: 600;
}
.nav {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
}
