* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* font-family: "Paytone One", sans-serif; */
}

:root {
  --bg-color: #000;
  --text-color: #fff;
  --sc-color: #ffe3eb;
  --main-color: #acc8fa;
  --big-font: 4rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --main-font: "Poppins", sans-serif;
  --sc-font: "Paytone One", sans-serif;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: ease 0.4s;
}
.logo {
  font-size: 25px;
  color: var(--sc-color);
  font-weight: 600;
  font-family: var(--main-font);
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  font-family: var(--main-font);
}
.navbar a:hover {
  color: var(--main-color);
}
header,
section {
  padding: 80px 10%;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/iren.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--text-color);
  letter-spacing: 4px;
  font-family: var(--sc-font);
  max-width: 500px;
  margin-bottom: 5px;
}
.home-text h2,
p {
  /* font-size: 20px; */
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 5px;
  font-family: var(--main-font);
}

/* scroll */
.header.sticky {
  background: var(--bg-color);
  padding: 10px 10%;
  box-shadow: rgba(44, 48, 54, 0.781) 0px 10px 10px -10px;
}
